.otp-input {
    background-color: #0d1226;
    border: 1px solid hsla(0,0%,100%,.1);
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    height: 50px;
    margin: 0 10px;
    padding: 5px;
    text-align: center;
    width: 50px
}

.otp-input.is-complete {
    border-color: #40bdab
}

.otp-input::-webkit-inner-spin-button,.otp-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}



div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #2B2F3C;
    border-radius: 5px;
     }
    
    div::-webkit-scrollbar-thumb {
    background-color:  rgb(23,26,34);
    border-radius: 5px;
    }
    div::-webkit-scrollbar {
    width: 0.5em;
    border-radius: 5px;
    }