.attributes-group .attribute-text[data-v-2546539f] {
    background: rgba(55,114,255,.07);
    border-radius: 13px;
    font-size: 11px;
    font-weight: 300;
    line-height: 16px;
    padding: 4px 12px;
    white-space: nowrap
}

.inside-image[data-v-530e65a0] {
    background: url(../img/new-store/avatar-placeholder.svg) no-repeat;
    background-position: 50%;
    background-size: 60% 60%
}

.attributes-group .attribute-text[data-v-530e65a0] {
    background: rgba(255,163,0,.07);
    border-radius: 13px;
    color: #ffa300;
    font-size: 11px;
    line-height: 16px;
    padding: 4px 12px
}

@media(hover: hover) and (pointer:fine) {
    .group:hover .rounded-xl[data-v-530e65a0] {
        box-shadow:0 4px 87px #000000b3;
        padding: 0;
        position: absolute;
        scale: 1.05;
        z-index: 20
    }
}
